<template name="chatbar">
	<div id="{{id}}" {{visibility name}} class="component">
		<div id="chatbar-contents">
            <h3 class="title gradientBar">
                <span class="glyphicon glyphicon-comment"></span>
                {{title}}
                {{> extraConversations}}
            </h3>

			{{>tabButtons}} <!-- Display public/options tabs, and private chat tabs -->
			{{#if getInSession "display_chatPane"}}
				<div id="chatbody">
					<ul class="chat">
						{{#each getCombinedMessagesForChat}}
							{{#if message}}
								<li {{messageFontSize}}>{{> message}}</li>
							{{/if}}
						{{/each}}
						<bottomEntry></bottomEntry> <!-- Intentionally blank, fixes issue of last message being cut off while scrolling -->
					</ul>
				</div>
				<div class="panel-footer">{{> chatInput}}</div>
			{{else}}
				{{> optionsBar}}
			{{/if}}
		</div>
	</div>
</template>

<template name="chatInput">
	<div class="chat-input-wrapper">
		<textarea id="newMessageInput" placeholder="{{_ 'writeNewMessage'}}" rel="tooltip" data-placement="top" title="{{_ 'writeNewMessage'}}"></textarea>
		<button type="submit" id="sendMessageButton" class="btn" rel="tooltip" data-placement="top" title="{{_ 'sendTooltip'}}">
		{{_ 'send'}}
		</button>
	</div>
</template>

<template name="chatOptions">
	<p>{{_ 'chatOptions'}}:</p>
	{{> optionsFontSize}}
	<br/><br/>
	{{> notificationSettings}}
    {{> optionsLanguage}}
</template>

<template name="extraConversations">
    {{#if tooManyConversations}}
        <div id="MoreChatsDrop" class="btn-group">
            <button type="button" id="MoreChatsbutton" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{_ 'moreChats'}}<span class="caret"></span></button>
            <ul class="dropdown-menu extraConversationScrollableMenu" role="menu">
                {{#each getExtraConversations}}
                    <li class="extraConversation" id="{{safeName name}}"><a href="#">{{safeName name}}</a></li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
</template>

<!-- Displays and styles an individual message in the chat -->
<template name="message">
	<table style="width:100%">
		<tr>
			<td>
				{{#if message.from_username}}
					<div {{messageFontSize}} class="userNameEntry" rel="tooltip" data-placement="bottom" title="{{message.from_username}}">
						<strong>{{message.from_username}}</strong>
					</div>
				{{/if}}
			</td>
			<td style="text-align:right">
				{{#if message.from_time}}<small class="pull-right">{{toClockTime message.from_time}} <span class="glyphicon glyphicon-time"></span></small>{{/if}}
			</td>
		</tr>
	</table>
	<div style="color:{{colourToHex message.from_color}}">{{{sanitizeAndFormat message.message}}}</div> <!-- Messages must be safely filtered and stripped -->
	{{autoscroll}} <!-- Scroll to the bottom after inserting a new message -->
</template>

<template name="notificationSettings">
	{{_ 'newMessageNotifications'}}
	<form>
		<input type="radio" name="chatNotification" id="chatNotificationOn" value="chatNotificationOn" checked="checked" />
		<label for="chatNotificationOn">{{_ 'on'}}</label>
		<input type="radio" name="chatNotification" id="chatNotificationOff" value="chatNotificationOff" />
		<label for="chatNotificationOff">{{_ 'off'}}</label>
	</form>
</template>

<!-- Displays the list of options available -->
<template name="optionsBar">
	<div class="optionsBar">
		{{#if thereArePeopletoChatWith}} <!-- There are people we can chat with, display the user list -->
			<p>{{_ 'selectChattee'}}</p>
			<div class="private-chat-user-box" rel="tooltip" data-placement="top" title="{{_ 'selectChatteeTooltip'}}">
				{{#Layout template="scrollWindow" id="privateChatUserScrollWindow"}}
					{{#contentFor region="scrollContents"}}
						<table class="table table-hover">
							<tbody class="private-chat-user-list">
								{{#each getUsersInMeeting}}
									<tr class="private-chat-user-entry">
										{{#unless isCurrentUser _id}}
									      {{user.name}}
									    {{/unless}}
									</tr>
								{{/each}}
							</tbody>
						</table>
					{{/contentFor}}
				{{/Layout}}
			</div>
		{{else}}
			<p>{{_ 'noChattees'}}</p>
		{{/if}}
		<br/>
		{{> chatOptions}}
	</div>
</template>

<template name="optionsFontSize">
	<div class="dropdown" style="float:left">
		<span {{messageFontSize}}>{{_ 'chatMessageFontSize'}}: </span>
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			{{_ 'fontSize'}} ({{getInSession "messageFontSize"}})
			<span class="caret"></span>
		</button>

        <!-- add localization for numbers -->
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="height:80px; overflow-y:scroll; right:0px;">
			<li role="presentation"><a class="fontSizeSelector" id="8" role="menuitem" tabindex="-1" href="#">8</a></li>
			<li role="presentation"><a class="fontSizeSelector" id="10" role="menuitem" tabindex="-1" href="#">10</a></li>
			<li role="presentation"><a class="fontSizeSelector" id="12" role="menuitem" tabindex="-1" href="#">12</a></li>
			<li role="presentation"><a class="fontSizeSelector" id="14" role="menuitem" tabindex="-1" href="#">14</a></li>
			<li role="presentation"><a class="fontSizeSelector" id="16" role="menuitem" tabindex="-1" href="#">16</a></li>
			<li role="presentation"><a class="fontSizeSelector" id="18" role="menuitem" tabindex="-1" href="#">18</a></li>
		</ul>
	</div>
</template>

<!-- Display drop down dialog with all supported languages -->
<template name="optionsLanguage">
    <div class="dropdown" style="float:left">
        <span {{messageFontSize}}>{{_ 'language'}}: </span>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            {{_ 'language'}} ({{getUserLanguage}}) <!-- displays currently selected language -->
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="height:80px; overflow-y:scroll; right:0px;">
            {{#each getAvailableLanguages}} <!-- Display each supported language as an option -->
                <li role="presentation">
                    <a class="languageSelector" id="{{this.abbreviation}}" role="menuitem" tabindex="-1" href="#">
                        {{this.name}}
                        {{#if isCurrentLanguage}}
                            <i class="glyphicon glyphicon-ok"></i>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</template>

<!-- Display buttons on the chat tab, public, options, and all the private chat tabs -->
<template name="tabButtons">
  <ul id="tabsList" class="nav nav-tabs">
    {{#each grabChatTabs}}
      <li class="{{isTabActive userId}} tab {{makeSafe class}}">
        <a href='#' data-toggle='tab' id="#{{makeSafe name}}" class="{{hasGotUnreadMailClass gotMail}}">
          {{#if equals class "privateChatTab"}}
            <button class="close closeTab" type="button"><sup><b>X</b></sup></button>
          {{/if}}
          {{makeSafe name}}
        </a>
      </li>
    {{/each}}
  </ul>
</template>
